<!DOCTYPE html>
<html lang="en">

<head>
    <link href={{ font_path }} rel="stylesheet" />
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" />
    <title>NULL PTR</title>
</head>

<body>

    <span class="logo"><a href="/">NULL PTR</a></span>
    <span class="right_bar">
        PROJECTS \\</br>
        <p><a href="/">INDEX //</a></p>
        <p><a href="/projects/logging">LOGGING //</a></p>
        <p><a href="/projects/utils">UTILS ##</a></p>
        <p><a href="/projects/images">IMAGES //</a></p>
        <p><a href="/projects/julia">JULIA //</a></p>
    </span>

    
    <p class="bottomText">bottom text</p>
</body>

</html>