<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter|Libre+Barcode+39+Text|Overpass+Mono:wght@700&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet"/>
    <title>NULL PTR</title>
</head>


<body>
    <span class="v1_2">NULL PTR </br></span>
    <span class="v1_3">
        <p><b>Exception Raised:</b></p>
            <p class="tab"><b>Segmentation Fault. </b><span class="warning">(core dumped)<span class="warning"></span></p>
            <p class="tab"><b>Exception:</b> std::runtime_error</p>
            <p class="tab"><b>Message:</b> <span class="warning">violation</span> - nullptr exception</p>
    </span>

    <span class="bottomText">Bottom Text</span>
</body>

</html>