<!DOCTYPE html>
<html lang="en">

<head>
    <link href={{ font_path }} rel="stylesheet" />
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" />
    <title>NULL PTR</title>
</head>

<body>

    <span class="logo"><a href="/">NULL PTR</a></span>
    <span class="right_bar">
        </br>PROJECTS \\</br>
        <p><a href="/">INDEX //</a></p>
        <p><a href="/projects/logging">LOGGING //</a></p>
        <p><a href="/projects/utils">UTILS //</a></p>
        <p><a href="/projects/images">IMAGES //</a></p>
    </span>
    
    <span class="centre_text">
        <b>Exception Raised:</b>
        <p class="tabbed_text"><b>Segmentation Fault. </b><span class="warning">(core dumped)<span class="warning"></span></p>
        <p class="tabbed_text"><b>Exception:</b> std::runtime_error</p>
        <p class="tabbed_text"><b>Message:</b> violation - <a class="blinking-warning" href="/ascention">nullptr</a></span> exception.</p>
    </span>

    <div class="bottomRightImage">
        
    </div>
    <p class="bottomText">bottom text</p>
</body>

<!--<meta http-equiv="refresh" content="3" />-->
</html>