* {
  background: rgba(30,30,30,1);
  color: rgba(250,250,250,1);
  max-width: 100% !important;
}
body {
  font-size: 14px;
  overflow-x: hidden;
}
.tab {
  margin-left: 50px;
}

.v1_2 {
  position: fixed !important;
  z-index: 999;
  top: 100px !important;
  left: 200px !important;
  font-family: 'Libre Barcode 39 Text';
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
  overflow: visible;
}

.v1_3 {
  position: relative; 
  margin: auto;
  top: 338px;
  left: max(400px,40%);
  text-align: left;
  font-family: 'Overpass Mono';
  font-weight: Regular;
  font-size: 1vmax;
  opacity: 1;
  overflow: hidden;
}

.warning {
  color: #f48c06;
}

.bottomText{
  position: absolute;
  top: 9999px;
  text-align: center;
  font-size: 12px;
  color: rgba(250,250,250,0.5);
}