* {
  background: rgba(30,30,30,1);
  color: #FFFFFF;
  max-width: 100% !important;
}
body {
  font-size: 14px;
  overflow-x: hidden;
}
.tabbed_text {
  margin-left: 50px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.right_bar {
  position: fixed;
  z-index: 999;
  float: right;
  text-align: right;
  top: 10vh;
  right: 2vw;
  font-family: 'Overpass Mono';
  font-weight: Bold;
  font-size: min(1vw,2vh);
  line-height: 1em;
}

.logo {
  position: fixed !important;
  z-index: 999;
  top: 10vh !important;
  left: 10vw !important;
  font-family: 'Libre Barcode 39 Text';
  font-weight: Regular;
  font-size: min(6vh,4vw);
  opacity: 1;
  text-align: left;
  overflow: visible;
}

.centre_image {
  position: relative;
  top: 100px;
  left: min(800px,30%);
}

.centre_text {
  position: relative; 
  display: block;
  top: 338px;
  left: min(800px,40%);
  width: 40%;
  text-align: left;
  font-family: 'Overpass Mono';
  font-weight: Regular;
  font-size: 1vmax;
  opacity: 1;
  word-wrap: break-word;
  overflow: wrap;
}

.warning {
  color: #f48c06;
}

.blinking-cursor {
  color: #FFFFFF;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

.blinking-warning {
  color: #f48c06;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}


@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f48c06;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #f48c06;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f48c06;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f48c06;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f48c06;
  }
}

.bottomText{
  position: absolute;
  top: 9999px;
  text-align: center;
  font-size: 12px;
  color: rgba(250,250,250,0.5);
}